:root {
    --area: 12;
    --colWidth: 12;
}

html, 
body,
.flex-container {
    height: 100vh;
    width: 100vw;
}
.box {
    border: 1px solid black;
    background-color: white;
    flex-basis: auto;
    width: calc(-2px + var(--colWidth));
    height: calc(-2px + var(--colWidth));
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}

.fill {
    background-color: black;
}